body {
    margin:0;
    background-color: powderblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59ABE3;
    position: fixed;
    top: 0;
    width: 100%;
}

h2 {
   color: blue;
}
li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #007CA5;
}

.active {
    background-color: #003449;
}

#zoom
{
box-shadow:1px 1px 45px #333;
transition: 200ms all ease;
border:none;
padding: 5px 5px;

}
#zoom:hover
{
margin:-5px 0 0 -5px;
height:29px;
width:250px;
}
