{% extends "index.html" %}

{% block title %}
	{% if 'username' in session %}
	About
	{% endif %}

	{% if 'username' not in session %}
	Instructions
	{% endif %}
{% endblock %}

{% if 'username' in session %}
	{% block insact %}class="active"{% endblock %}

{% endif %}

{% if 'username' not in session %}
	{% block abact %}class="active"{% endblock %}
{% endif %}


{% block content %}

	{% if 'username' not in session %}
	<center>
	<h1>About</h1>
	</center>

	{% endif %}

	{% if 'username' in session %}
	<center>
	<h1>Instructions</h1>
	Welcome to ComboChronicles, the best collaborative story generator.
	Here you can work with random users to create some of the most interesting, thoughtful, and creative pieces of writing.
	On the top of this page, you have access to a beautiful navigation bar with pretty self explanatory functionality. 
	<br>
	Home Page: View the latest stories. Click on the title for a story to add a new entry. OR if you are 
	feeling juicy, start a new story!
	<br>
	Library Page: See all the finished stories in one page. You have an option of sorting the library either alphabetically
	or chronologically.
	<br>
	Begin Writing: Enter a title and a line or two to start the story. Then press submit. Congratulations. 
	<br>
	Add Entry: Continue the story. 
	<br>
	Account: View all the stories you have contributed to. Change your password.
	<br>
	Logout: Click here to logout.

	
	</center>

	{% endif %}



{% endblock %}
