{% extends "index.html" %}

{% block accountact %}class="active"{% endblock %}

{% block content %}

	{% if 'username' in session %}

	<center>
	<h2>Welcome to Your Account</h2>
		{{message}}

	</center>


	<center>
		<h3> Your Stories </h3>
   		{%for key in userstories%}
   		<a href="/story/{{key}}/{{userstories[key]}}">{{userstories[key]}}</a>
   		<br>
		{%endfor%}

		<br>
		<br>
		<br>
		Change your Password:
		<br>
		<form action = "/pc/" method = "POST">
		<br>
		    <input type="password" name="pass"><br>
		    <input type="submit" name = "login" value = "Confirm Password">
		    <br>
		    <br> 
  		</form>
	</center>

	{% endif %}

	{% if 'username' not in session %}
	<center>
	<h2> {{user}}'s Account </h2>

		<h3> Their Stories </h3>
   		{%for key in userstories%}
   		<a href="/newentry/{{key}}">{{userstories[key]}}</a>
   		<br>
		{%endfor%}

	</center>

	{% endif %}



{% endblock %}
