{% extends "index.html" %}

{% block content %}

	{% if 'username' in session %}

	<h2>Welcome to Your Account</h2>
		See your recent stories, change your password, and edit your settings here!
		<br>
		<br>

		<h3> Your Stories </h3>
   		{%for key in userstories%}
   		<a href="/stories/{{key}}">{{userstories[key]}}</a>
   		<br>
		{%endfor%}

	{% endif %}

	{% if 'username' not in session %}
	<h2> {{user}}'s Account </h2>

		<h3> Their Stories </h3>
   		{%for key in userstories%}
   		<a href="/stories/{{key}}">{{userstories[key]}}</a>
   		<br>
		{%endfor%}

	{% endif %}



{% endblock %}