{% extends "index.html" %}

{% block title %}Library{% endblock %}

{% block libact %}class="active"{% endblock %}

{% block content %}

	<center>
	<h1>Welcome to the Library</h1>
		See all the finished stories in one place!
		<br>
		<br>


	<b>Sort By</b>
	<form action = "/library/alpha" method = "POST">
	    <input type="submit" name = "sort" value = "Alphabetical">
	</form>
	<form action = "/library/time" method = "POST">
	    <input type="submit" name = "sort" value = "Date/Time">
	</form>
	   
    

	</center>
		<br>
		<br>
		<h3> Stories </h3>
   		{%for key in stories%}
   		<a href="/story/{{key}}/{{stories[key]}}">{{stories[key]}}</a>
   		<br>
		{%endfor%}
	

{% endblock %}
