{% extends "index.html" %}

{% block title %}New Entry{% endblock %}

{% block content %}

{% if 'username' in session%}
<center>
<h1> New Entry for <i>{{story}}</i></h1>

<form action = "/newentry/{{id}}/{{story}}/" method = "POST">
<i>{{content}}</i>
<br>
<br>
{{stats}}
<br>
<br>
<textarea name="entry"  maxlength="350" rows="10" cols="60">
</textarea>
  <br>
  <input type="submit" value = "Submit Addition" name = "{{story}}">
</form>
</center>
{% endif %}

{% if numentries > 4 %}
<center>
<br>
<b>This will be the final contribution to this story!</b>
</center>
{% endif %}

{% endblock %}
